@using System.Globalization;
@model IMSTest.Models.Kontrak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kontrak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KontrakNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KontrakNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTR)
        </dd>
    </dl>

    <h2>Jadwal Angsuran</h2>
    <table class="table table-striped table-bordered table-hover table-center text-center">
        <thead>
            <tr>
                <th>Kontrak NO</th>
                <th>Angsuran Ke</th>
                <th>Angsuran Per Bulan</th>
                <th>Tanggal Jatuh Tempo</th>
                <th>Status Lunas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListAngsuran)
            {
                <tr>
                    <td>@item.Kontrak.KontrakNo</td>
                    <td>@item.AngsuranKe</td>
                    <td>@item.AngsuranPerBulan.ToString("C").Replace(",00", string.Empty)</td>
                    <td>@item.TanggalJatuhTempo.ToString("yyyy-MM-dd")</td>
                    <td>
                    @if (!item.Paid) 
                    {
                        <span class="text-danger">Belum Lunas |</span>
                        <a asp-controller="Angsuran" asp-action="Bayar" asp-route-id="@item.Id">Bayar</a>
                    } else 
                    {
                        <span class="text-success">Lunas</span>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
